﻿@model RD.Web_.Models.Document.IndexViewModel
@using RD.Web_.Helpers
@{
    ViewBag.Title = "Documents";
}

@Html.Partial("Upload")

<form asp-controller="Document" asp-action="Index">
    <p>
        Поиск <input type="text" name="searchString">
        <input type="submit" value="Найти" />
    </p>
</form>


<h2>Документы</h2>
@if (Model.Documents.AnySafe())
{
    <table class="table table-bordered">
        <tr>
        <th class="text-center">Название</th>
        <th class="text-center">Дата</th>
        <th class="text-center">Автор</th>
        <th class="text-center">Файл</th>
        </tr>
        @foreach (var document in Model.Documents)
        {
            <tr>
                <td>@((document.Name.Length <= 30) ? document.Name : document.Name.Substring(0, 30) + "...")
                 </td>
                <td>@document.CreationDate</td>
                <td>@document.Author.UserName</td>
                <td class="text-center"><a href="@Url.Action("DownloadFile", "Document",new { idDoc = document.Id })"><span class="glyphicon glyphicon-download-alt"></span></a>  </td>
            </tr>
        
        }
    </table>
}
else
{
    <p>Документы отсутствуют!</p>
}
