﻿<div class="row">
    <div class="col-md-8">
        <h2>Авторизация</h2>
        <h4>Введите имя пользователя и пароль</h4>
        <hr />
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label class="col-md-3 control-label">Имя пользователя</label>
                <div class="col-md-12">
                    @Html.TextBox("userName", null, new { @class="form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Пароль</label>
                <div class="col-md-12">
                    @Html.TextBox("password", null, new { @class = "form-control",  @type="password"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" id="btnPwd" value="Login" class="btn btn-default" />
                </div>
               
            </div>
        }
    </div>
</div>